@charset "utf-8";

body{
  margin: 0;  
}

.logo{
  margin-left: 50px;
}

.forest{
  margin: auto;
}

img{
  height: 160px;
}

nav{
  display: flex;
  background-color: orange;
  margin: 0 0 10px 0;
}

h1{
  color: white;
  line-height: 110px;
  margin-left: 10px;
}

h2{
  text-align: center;
}

footer{
  display: flex;
  gap: 10px;
}

.aka{
  background-color: red;
  width: 200px;
  height: 210px;
}

.mizu{
  background-color: #00ffff;
  flex: 1;
  display: flex;
  height: 210px;
}

.ore{
  background-color: pink;
  width: 250px;
  height: 210px;
}


section{
  gap: 10px;
}

p{
  display: block;
}

@media (max-width: 844px){
  header{
    display: none;
  }
  .aka{
    display: none;
  }
}

@media (max-width: 500px){
  .forest{
    display: none;
  }
  footer{
    display: block;
  }
  .ore{
    width: auto;
    margin-top: 10px;
  }
}